Skip to Play Sketch
Cookies
The p5.js Editor uses cookies. Some are essential to the website functionality and allow you to manage an account and preferences. Others are not essential—they are used for analytics and allow us to learn more about our community. We never sell this data or use it for advertising. You can decide which cookies you would like to allow, and learn more in our Privacy Policy.


Allow All

Allow Essential

Angry ravioli
by PM1C13

PM1C13
My Stuff
Settings
Log Out

Arquivo
Novo
Salvar
Exemplos
Editar
Organizar Código
Procurar
Esboço
Adicionar Arquivo
Adicionar Pasta
Settings
Preferences
Language
Ajuda
Atalhos de Teclado
Referência
Sobre


style.css
1
html, body {
2
  margin: 30px;
3
  padding: 0;
4
  background-color: rgb(221,233,251);
5
}
6
canvas {
7
  display: block;
8
}
9
​
Não há mensagens de Lint
Linha atuallinha 1